* {
  margin: 0;
  padding: 0;
}
iframe {
  width: 100%;
  height: 14rem;
}
iframe:nth-of-type(1) {
  height: 5rem;
}
body {
  background-color: #F5F5F5;
  min-width: 375px;
}
.h {
  width: 100%;
  height: 4rem;
  padding-left: 2rem;
  box-sizing: border-box;
  background-color: white;
  margin-top: -0.4rem;
  padding-top: 1.5rem;
}
.search {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0rem;
  position: relative;
}
.search input {
  height: 3rem;
  width: 80%;
  border-radius: 1rem;
  text-indent: 2rem;
  outline: none;
  padding-right: 4.5rem;
}
.search img {
  position: absolute;
  height: 2rem;
  width: 2rem;
  right: 4.7rem;
  top: 1.9rem;
  padding-left: 1.5rem;
  border-left: 1px solid gray;
}
nav {
  width: 100%;
  position: relative;
}
nav > ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-bottom: 1px solid #999999;
}
nav > ul li {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
  color: #666;
  line-height: 3em;
}
nav > ul li .span_active {
  border: 0.5rem solid transparent;
  border-bottom: 0.5rem solid #C3955C;
}
nav > ul li span {
  margin-left: 0.6rem;
  width: 0rem;
  height: 0rem;
  border: 0.5rem solid transparent;
  border-top: 0.5rem solid gray;
}
nav .list_yc {
  width: 100%;
  position: absolute;
  display: flex;
  align-content: stretch;
  display: none;
  background-color: white;
}
nav .list_yc .left {
  font-size: 1.2rem;
  background-color: #F0F0F0;
  width: 20%;
}
nav .list_yc .left p {
  text-align: center;
  line-height: 4rem;
}
nav .list_yc .right {
  width: 80%;
}
nav .list_yc .right ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  background-color: white;
  justify-content: space-around;
}
nav .list_yc .right ul li {
  width: 34%;
  box-shadow: 1px 1px 2px gray;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
nav .list_yc .right ul li a {
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  color: #666;
}
nav .list_yc .right ul li a:hover {
  color: #C3955C;
}
nav .list_yc > ul {
  width: 100%;
  list-style: none;
  background-color: pink;
}
nav .list_yc > ul li {
  width: 100%;
  padding-left: 2.5rem;
  line-height: 3rem;
  background-color: white;
  border-bottom: 0.1rem solid #666666;
  box-sizing: border-box;
}
nav .list_yc > ul li button {
  width: 100%;
  outline: none;
  border: none;
  border-top: 0.1rem solid #FF8A00;
  background-color: #FF8A00;
  line-height: 3rem;
}
nav .list_yc > ul #btn {
  padding: 0;
}
nav .list_yc:nth-last-of-type(1) {
  flex-direction: column;
}
nav .list_yc > .yc_content {
  width: 100%;
  margin-top: 2rem;
  border-bottom: 1px solid gray;
}
nav .list_yc > .yc_content p {
  font-size: 1.4rem;
  box-sizing: border-box;
  padding-left: 2.5rem;
}
nav .list_yc > .yc_content .content1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 2.2rem;
  margin: 0 auto;
}
nav .list_yc > .yc_content .content1 span {
  text-align: center;
  width: 14%;
  margin-left: 1rem;
  padding: 0.3rem 1rem;
  border: 0.1rem solid gray;
  margin-top: 1.5rem;
}
a {
  text-decoration: none;
}
.li_active {
  color: #C3955C;
  background-color: white;
}
.bottom {
  display: flex;
  flex-direction: column;
}
.bottom .house {
  display: flex;
  width: 90%;
  margin: 0 auto;
  padding: 4rem 0rem;
  box-sizing: border-box;
  border-bottom: 1px solid #FF4040;
}
.bottom .house:nth-of-type(2) {
  border: none;
}
.bottom .house > img {
  width: 30%;
  flex: 1;
  margin-right: 1.5rem;
}
.bottom .house .house_text {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
}
.bottom .house .house_text > p:nth-of-type(1) {
  font-size: 1.6rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 700;
}
.bottom .house .house_text > p {
  display: flex;
  justify-content: flex-start;
  font-size: 1.2rem;
  color: #000000;
}
.bottom .house .house_text p:nth-of-type(4) {
  display: flex;
  justify-content: space-between;
}
.bottom .house .house_text p:nth-of-type(4) > span:nth-of-type(1) {
  padding: 0.3rem 1rem;
  border: 0.1rem solid #8DB94D;
  color: #8DB94D;
}
.bottom .house .house_text p:nth-of-type(4) > span:nth-of-type(2) {
  color: #FF8A00;
  font-weight: 700;
}
.bottom > a:nth-last-of-type(1) .house {
  border: none;
}
