.box {
    background-color: #F5F5F5;
    min-width: 375px;
}

* {
    margin: 0;
    padding: 0;
}

iframe {
    height: 5rem;
}

iframe:nth-last-of-type(1) {
    height: 14rem;
}

.rentalAddr {
    height: 3.6rem;
    line-height: 3.6rem;
    background: #ffffff;
    border-bottom: 1px solid #c5c5c5;
    padding-left: 1.5rem;
}

.retalCont1 {
    line-height: 0.2rem;
    overflow: hidden;
    margin-top: 0.1rem;

}

.retalCont1 span {
    color: #6da719;
    float: left;
    padding: 0 0.05rem;
    border: 1px solid #6da719;
    border-radius: 2px;
}

.retalCont1 strong {
    float: right;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*租房详情页开始*/

.rentalpart1 .banner {
    position: relative;

}

.rentalpart1 .banner .img {
    width: 100%;
    /*vertical-align: top;*/
    /*overflow: hidden;*/
}

.rentalpart1 .share {
    position: absolute;
    bottom: 1rem;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 5.9rem;
    height: 4.1rem;
    color: #ffffff;
    text-align: center;
    line-height: 4.1rem;
    border-radius: 10px 0 0 10px;
}

.mianText {
    height: 7rem;
    background: #f9f9f9;
    display: flex;
}

.mianText h2 {
    flex: 78;
    line-height: 2.1rem;
    margin-left: 1.5rem;
    padding-top: 1.4rem;
    font-size: 1.6rem;

}

.mianText a {
    flex: 22;
    border-left: 1px solid #dcdcdc;
    text-align: center;
    background: url("../image/rentalList/xin.png") center center no-repeat;
    background-size: 1.9rem 1.9rem;
    padding-top: 0.58rem;
    font-size: 1.4rem;
}

.houseMes1 {
    display: flex;
    padding: 3rem 0;
    border-top: 1px solid #dcdcdc;
    border-bottom: 1px solid #dcdcdc;
    background-color: white;
}

.houseMes1 li {
    flex: 1;
    text-align: center;
    border-right: 1px solid #e2e2e2;
}

.houseMes1 li div:nth-of-type(2) {
    color: #ff8a00;
    margin-top: 0.06rem;
}

.houseMes2 {
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 2rem;
}

.houseMes2 li {
    height: 5rem;
    line-height: 5rem;
    border-bottom: 1px solid #e5e5e5;
}

.houseMes2 li div {
    display: inline-block;
    width: 48%;
}

.public {
    margin: 1rem 0;
    padding: 0 2rem;
    background: #fff;
    border: 1px solid #dcdcdc;
}

.public h2 {
    height: 4.4rem;
    line-height: 4.4rem;
    color: #ff8a00;
    background: url("../image/rentalList/right.png") 2.8rem center no-repeat;
    background-size: 0.07rem 0.14rem;
    padding: 0 0.16rem;
    border-bottom: 1px solid #dcdcdc;
}

.public p {
    padding: 1rem;
    line-height: 2rem;
}

.rentalpart4 div {
    /* width: 2.8rem; */
    border: 1px solid #dcdcdc;
    margin: 1rem auto;
}

.rentalpart4 h3 {
    height: 3.2rem;
    line-height: 3.2rem;
    padding-left: 0.3rem;
}

.rentalpart4 div img {
    width: 100%;
}

.rentalpart5 p span {
    color: #de6843;
}

.rentalpart6 {
    background: #ffffff;
    display: flex;
    /* height: 5.7rem; */
}

.rentalpart6 .man {
    display: flex;
    flex: 63;
    padding: 1rem;
}

.rentalpart6 .man img {
    width: 4rem !important;
    height: 4rem;
    width: 100%;
    margin-right: 0.09rem;
}


.rentalpart6 .phone {
    flex: 37;
    display: flex;
    margin-top: 0.5rem;
}

.rentalpart6 .phone a {
    display: inline-block;
    flex: 1;
    padding-top: 3rem;
}

.rentalpart6 .phone a:first-of-type {
    color: #5dcb96;
    background: url("../image/rentalList/icon1.png") 0 0 no-repeat;
    background-size: 3rem 3rem;
}

.rentalpart6 .phone a:last-of-type {
    color: #5baede;
    background: url("../image/rentalList/icon2.png") 0 0 no-repeat;
    background-size: 3rem 3rem;

}